gcdgold = "../target/release/gcdgold"
roms = "../data/roms"
failures = "../data/failures.csv"
passed = "../data/passed.txt"
manifests = "../data/manifests"
# extracted_projects = "../data/extracted-projects"
